html, body {
    margin: 0; padding: 0; background-color: #ffffff; font-family: Tahoma, Sans-Serif;
    font-size: 10pt; overflow: auto; height: 100%;
}

#layout_container { 
    display: flex;
    height: 100%;
}

#selected_infoblock {
    position: absolute;
    left: 40px;
    top: 10px;
    min-width: 360px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 4px 4px 10px #444444;
    cursor: pointer;
    z-index: 9999;
}

#map_container {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
}

#map_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#toggle_sidebar_control {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

#toggle_sidebar_button {
    float: right;
    width: 32px;
    height: 28px;
    background-size: 32px 28px;
    background-repeat: no-repeat;
    background-position: 0px;
    background-color: transparent;
    border: none;
}

#toggle_sidebar_button.show_sidebar {
    background-image: url("images/show_sidebar_inactive_48x40.png");
}

#toggle_sidebar_button.show_sidebar:hover {
    background-image: url("images/show_sidebar_active_48x40.png");
}

#toggle_sidebar_button.hide_sidebar {
    background-image: url("images/hide_sidebar_inactive_48x40.png");
}

#toggle_sidebar_button.hide_sidebar:hover {
    background-image: url("images/hide_sidebar_active_48x40.png");
}

#expand_sidebar_control {
    display: block;
    position: absolute;
    top: 48px;
    right: 10px;
}

#expand_sidebar_button {
    float: right;
    width: 32px;
    height: 28px;
    background-size: 32px 28px;
    background-repeat: no-repeat;
    background-position: 0px;
    background-color: transparent;
    border: none;
}

#expand_sidebar_button {
    background-image: url("images/show_sidebar_inactive_48x40.png");
}

#expand_sidebar_button:hover {
    background-image: url("images/show_sidebar_active_48x40.png");
}

#sidebar_container {
    display: flex;
    width: 490px;
    left: 0 !important;
}

#splitter {
    flex: 0 0 6px;
    cursor: col-resize;
    background-color: #bbbbbb;
    left: 0 !important;
}

#sidebar_canvas { 
    flex: 1 1 auto; 
    padding: 10px;
    overflow: scroll;
}

div#SpecialSquawkWarning { position: absolute; bottom: 25px; right: 430px; border: 2px solid red;
    background-color: #FFFFA3; opacity: 0.75; filter:alpha(opacity=75); padding: 5px;
    text-align: center; }

div#update_error { position: absolute; bottom: 25px; left: 25px; border: 2px solid red;
    background-color: #FFFFA3; opacity: 0.75; filter:alpha(opacity=75); padding: 5px;
    text-align: center; }

div#loader { z-index: 99; position: absolute; left: 0; top: 0; bottom: 0; right: 0; background: #000; opacity: 0.8; filter: alpha(opacity=80); }
#spinny { width: 128px; height: 128px; position: absolute; top: 50%; left: 50%; margin: -64px 0 0 -64px; }
#loader_progress { width: 250px; height: 20px; position: absolute; top: 50%; left: 50%; margin: 128px 0 0 -125px; }

#tableinfo { font-size: small; }

#sudo_buttons {
    display: flex;
    padding: 15px 40px 15px 40px;
    justify-content: space-between;
}

#units_container,
#altitude_filter_form {
    font-size: small;
    margin: 10px 0 10px 0;
}

.aircraft_table_header { 
    background-color: #409EDF;
    color: #FFFFFF;
    cursor: pointer;
}
.aircraft_table_header td {
    font-size: smaller;
    padding: 5px;
    text-align: center;
}

.verticalRateTriangle {
    font-family: "Courier New",monospace;
}

.icaoCodeColumn {
    font-family: monospace;
    text-transform: uppercase;
}

.vPosition  { background-color: #C3FFDF; }
.mlat       { background-color: #C7EAFC; }
.interesting { background-color: #FFBF00; }
.squawk7500 { font-weight: bold; background-color: #ff5555; }
.squawk7600 { font-weight: bold; background-color: #00ffff; }
.squawk7700 { font-weight: bold; background-color: #ffff00; }
.squawkSpecialDE { font-weight: bold; background-color: #afff00; }
.selected   { background-color: #dddddd; }
.plane_table_row { cursor: pointer; }
.hidden { display: none; }

.infoblock_heading    { font-size: larger; }
.infoblock_heading a  { text-decoration: none; color: blue; font-size: x-small;}
.infoblock_body       { font-size: small; }

#selected_icao { font-size: x-small; }
#selected_registration { font-size: x-small; }
#selected_icaotype { font-size: x-small; }

.dim    { opacity: 0.3; filter:alpha(opacity=30); /* For IE8 and earlier */ }

.pointer { cursor: pointer; }

.sidebarButton {
     background-color: #409EDF;
     padding: 4px 15px 4px 15px;
     color: #FFFFFF;
     font-weight: normal;
     font-size: small;
}

.sidebarButton:hover {
     background-color: #3c6ea3;
}

.altitudeFilterInput {
    width: 50px;
}

select.error, textarea.error, input.error {
    color: #FF0000;
}

.layer-switcher {
    top: 86px !important;
    right: 10px !important;
}
