html, body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Roboto, Tahoma, Sans-Serif;
    font-size: 10pt;
    overflow: auto;
    height: 100%;
}

#layout_container {
    display: flex;
    height: 100%;
}

#selected_infoblock {
    position: absolute;
    left: 40px;
    top: 10px;
    min-width: 360px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 4px 4px 10px #444444;
    cursor: pointer;
    z-index: 95;
}

#map_container {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
}

#map_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#sidebar_container {
    display: flex;
    width: 490px;
    left: 0 !important;
}

#splitter {
    cursor: col-resize;
    top: 50%;
    left: -33px;
    float: right;
    width: 26px;
    height: 26px;
    background-color: rgba(255,255,255,.4);
    border: none;
    border-radius: 4px;
}

#splitter-grip {
    margin-top: 3px;
    margin-left: 3px;
    background-color: #005587;
    border-radius: 2px;
    background-image: url("./jquery/images/ui-icons_ffffff_256x240.png");
    width: 20px;
    height: 20px;
    background-position: -30px -222px;
}

#sidebar_canvas {
    flex: 1 1 auto;
    padding: 0px 2px 0px 2px;
    overflow: scroll;
}

div#SpecialSquawkWarning { position: absolute; bottom: 25px; right: 430px; border: 2px solid red;
    background-color: #FFFFA3; opacity: 0.75; filter:alpha(opacity=75); padding: 5px;
    text-align: center; }

div#update_error { position: absolute; bottom: 25px; left: 25px; border: 2px solid red;
    background-color: #FFFFA3; opacity: 0.75; filter:alpha(opacity=75); padding: 5px;
    text-align: center; }

div#loader { z-index: 99; position: absolute; left: 0; top: 0; bottom: 0; right: 0; background: #000; opacity: 0.8; filter: alpha(opacity=80); }
#spinny { width: 128px; height: 128px; position: absolute; top: 50%; left: 50%; margin: -64px 0 0 -64px; }
#loader_progress { width: 250px; height: 20px; position: absolute; top: 50%; left: 50%; margin: 128px 0 0 -125px; }

#tableinfo { font-size: 0.9em; }

#units_container,
#altitude_filter_form {
    font-size: 100%;
    margin: 10px 0 10px 0;
}

.aircraft_table_header {
    background-color: #005587;
    color: #FFFFFF;
    cursor: pointer;
}
.aircraft_table_header td {
    font-size: smaller;
    padding: 5px;
    text-align: center;
}

.verticalRateTriangle {
    font-family: "Courier New",monospace;
}

.icaoCodeColumn {
    font-family: monospace;
    text-transform: uppercase;
}

.vPosition  { background-color: #f2ffd5; }
.mlat       { background-color: #caece6; }
.interesting { background-color: #ffbf00; }
.squawk7500 { font-weight: bold; background-color: #00bed7; }
.squawk7600 { font-weight: bold; background-color: #f1f000; }
.squawk7700 { font-weight: bold; background-color: #f4003b; }
.squawkSpecialDE { font-weight: bold; background-color: #94cd00; }
.selected   { background-color: #b7c9d3; }
.plane_table_row {
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.hidden { display: none; }

.infoblock_heading    { font-size: larger; color: #005587; }
.infoblock_heading a  { text-decoration: none; color: #005587; font-size: smaller;}
.infoblock_body       { color: rgb(102,102,102); }
.infoblock_body span  { color: rgb(0,0,0); }
.infoblock_padding    { padding-top: 10px; }

#selected_icao { font-size: smaller; }

.dim    { opacity: 0.3; filter:alpha(opacity=30); /* For IE8 and earlier */ }

.pointer { cursor: pointer; }

.sidebarButton {
     background-color: #005587;
     padding: 4px 15px 4px 15px;
     color: #FFFFFF;
     font-weight: normal;
/*     font-size: small;*/
}

.sidebarButton:hover {
     background-color: #3c6ea3;
}

.altitudeFilterInput {
    width: 50px;
}

select.error, textarea.error, input.error {
    color: #FF0000;
}

/* Overwrite default for layer-sitcher */
.layer-switcher {
    top: 15em !important;
    right: 0.5em !important;
}

.layer-switcher button {
    background-color: transparent !important;
}

#filter_list {
    list-style-type: none;
    padding: 0;
}

span.short {
    display: inline-block;
}

span.unit {
    margin: 0 0 0 0.3em;
}

.ui-button-icon-only {
    height: 2em;
    margin: 0 0 0 0.3em;
}

#filter_list input.oneChar {
    width: 1.5em;
    margin: 0 0 0 0.3em;
}
#filter_list input.threeChar {
    width: 3em;
    margin: 0 0 0 0.3em;
}
#filter_list input.sixChar {
    width: 5em;
    margin: 0 0 0 0.3em;
}
#filter_list input.eightChar {
    width: 7em;
    margin: 0 0 0 0.3em;
}
#filter_list input.nineChar {
    width: 8em;
    margin: 0 0 0 0.3em;
}
#filter_list input.wide {
    width: 15em;
    margin: 0 0 0 0.3em;
}

#filter_list li {
    margin: 0.5em 0 0 0;
}

#filter_list select {
    margin: 0 0 0 0.3em;
}

#editdialog_form input.text {
    margin-bottom:12px;
    width:95%;
    padding: .4em;
    border-width: 1px;
}

#editdialog_form input.checkbox {
    vertical-align: middle;
}

/* Al Kissack hover over label mod*/
.ofInterest { color: #FFBF00; }
#popinfo {
  max-width: 200px;
  background-color: white;
  color: black;
  opacity: 0.850;
  font-size: 8pt;
  font-family: sans-serif;
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px 10px 10px 0;
  padding: 2px 5px 2px 5px;
  white-space:pre-wrap;
}

.fileinput-button {
  font-family: Arial,Helvetica,sans-serif;
}
.fileinput-button input {
  position: absolute;
  top: 2px;
  left: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  direction: ltr;
  cursor: pointer;
  clip: rect(0px 66px 22px 0px);
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

#altitude_chart {
    float: right;
    width: calc(100% - 5px);
    max-width: 800px;
    right: 5px;
    bottom: 35px;
    background-color: transparent !important;
}

#altitude_chart_button {
    background-image: url('alt_legend_feet.svg');
    background-size: cover;
    background-color: transparent;
    width: 100%;
    height: 0;
    padding: 0;
    padding-bottom: calc(100% * 56 / 1815);
}

.altitudeMeters {
    background-image: url('alt_legend_meters.svg') !important;
}

.ol-control button,
.ol-scale-line {
    background-color: #005587;
}