html, body {
    margin: 0; padding: 0; background-color: #ffffff; font-family: Tahoma, Sans-Serif;
    font-size: 10pt; overflow: auto; height: 100%;
}

#layout_container { 
    display: flex;
    height: 100%;
}

#map_container {
    flex: 1 1 auto;
    position: relative;
    height: 100%;
}

#map_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#toggle_sidebar_button {  
    width: 48px;
    height: 40px;
    position: absolute;
    bottom: 150px;
    right: 6px;
}

#toggle_sidebar_button.show_sidebar {
    background-image: url("images/show_sidebar_inactive_48x40.png");
}

#toggle_sidebar_button.show_sidebar:hover {
    background-image: url("images/show_sidebar_active_48x40.png");
}

#toggle_sidebar_button.hide_sidebar {
    background-image: url("images/hide_sidebar_inactive_48x40.png");
}

#toggle_sidebar_button.hide_sidebar:hover {
    background-image: url("images/hide_sidebar_active_48x40.png");
}

#expand_sidebar_button {  
    width: 48px;
    height: 40px;
    position: absolute;
    bottom: 100px;
    right: 6px;
}

#expand_sidebar_button {
    background-image: url("images/show_sidebar_inactive_48x40.png");
}

#expand_sidebar_button:hover {
    background-image: url("images/show_sidebar_active_48x40.png");
}

#sidebar_container {
    display: flex;
    width: 410px;
    left: 0 !important;
}

#splitter {
    flex: 0 0 6px;
    cursor: col-resize;
    background-color: #bbbbbb;
    left: 0 !important;
}

#sidebar_canvas { 
    flex: 1 1 auto; 
    padding: 10px;
}

div#SpecialSquawkWarning { position: absolute; bottom: 25px; right: 430px; border: 2px solid red;
    background-color: #FFFFA3; opacity: 0.75; filter:alpha(opacity=75); padding: 5px;
    text-align: center; }

div#update_error { position: absolute; bottom: 25px; left: 25px; border: 2px solid red;
    background-color: #FFFFA3; opacity: 0.75; filter:alpha(opacity=75); padding: 5px;
    text-align: center; }

div#loader { z-index: 99; position: absolute; left: 0; top: 0; bottom: 0; right: 0; background: #000; opacity: 0.8; filter: alpha(opacity=80); }
#spinny { width: 128px; height: 128px; position: absolute; top: 50%; left: 50%; margin: -64px 0 0 -64px; }
#loader_progress { width: 250px; height: 20px; position: absolute; top: 50%; left: 50%; margin: 128px 0 0 -125px; }

#tableinfo, #sudo_buttons { font-size: x-small; font-family: monospace; }

.vPosition  { font-weight: bold; background-color: #d5ffd5; }
.mlat       { font-weight: bold; background-color: #d5d5ff; }
.squawk7500 { font-weight: bold; background-color: #ff5555; }
.squawk7600 { font-weight: bold; background-color: #00ffff; }
.squawk7700 { font-weight: bold; background-color: #ffff00; }
.selected   { background-color: #dddddd; }
.plane_table_row { cursor: pointer; }
.hidden { display: none; }

.infoblock_heading    { font-size: larger; }
.infoblock_heading a  { text-decoration: none; color: blue; font-size: x-small;}
.infoblock_body       { font-size: small; }

#selected_icao { font-size: x-small; }
#selected_registration { font-size: x-small; }
#selected_icaotype { font-size: x-small; }

.dim    { opacity: 0.3; filter:alpha(opacity=30); /* For IE8 and earlier */ }

.pointer { cursor: pointer; }

