.ol-control-grid {
    display: grid;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    grid-row-gap: 10px
}

.ol-control-button {
    background-image: url("../jquery/images/ui-icons_ffffff_256x240.png");    
}

.ol-touch .ol-control-grid {
    top: 0.5em;
}