Source: dump1090-flightaware
Section: embedded
Priority: extra
Maintainer: Oliver Jowett <oliver@mutability.co.uk>
Build-Depends: debhelper(>=8), librtlsdr-dev
Standards-Version: 3.9.3
Homepage: https://github.com/flightaware/dump1090_mr
Vcs-Git: https://github.com/mutability/dump1090.git -b fa-pi-package

Package: dump1090-flightaware
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: ADS-B Ground Station System for RTL-SDR
 Networked Aviation Mode S / ADS-B decoder/translator with RTL-SDR software
 defined radio USB device support.
 .
 Includes a mini-webserver that you can access to see aircraft in the vicinity
 of your receiver.
 .
 This is a packaging of the FlightAware fork of dump1090, adding support for
 the "fatsv" protocol used by FlightAware.

Package: faup1090
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: piaware (<= 1.18-2)
Replaces: piaware (<= 1.18-2)
Description: ADS-B protocol adaptor for FlightAware
 This is a packaging of a FlightAware utility based on dump1090 that generates
 messages in FlightAware's "fatsv" protocol from Beast format ADS-B messages.
