#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk

export DUMP1090_VERSION=$(shell dpkg-parsechangelog | sed -n 's/^Version: /v/p')
SRCNAME=$(shell dpkg-parsechangelog | sed -n 's/^Source: //p')

override_dh_auto_build:
	dh_auto_build -- 'EXTRACFLAGS=-DHTMLPATH=\"/usr/share/dump1090-mutability/html\" -DMODES_DUMP1090_VARIANT=\"$(SRCNAME)\"'

override_dh_install:
	dh_install
	install -d debian/dump1090-mutability/usr/bin
	cp -a dump1090 debian/dump1090-mutability/usr/bin/dump1090-mutability
	cp -a view1090 debian/dump1090-mutability/usr/bin/view1090-mutability

%:
	dh $@ 
